<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1><%= title %></h1>
    <div>
        <button id="" onclick="getToken()">获取token</button>
        <button id="conBtn" onclick="initWs()">连接websocket</button>
        <button id="loginBtn" onclick="login('<%= token %>')">请求登录</button>
        <button id="baiduBtn" onclick="baidu(new Date().getTime())">请求百度</button>
        <button id="cancelBtn" onclick="onClose()">关闭连接</button>
        <button id="heartBtn" onclick="onSend()">发送心跳</button>
        <button onclick="test()">test</button>
    </div>
    <div>
        <span>登录状态</span>

        <p ><span>token:</span><span id="tokenStr" style="color: red"></span></p>
        <p id="loginStatus" style="color: red">1</p>
        <p id="qrid" style="color: red"></p>
    </div>
    <div id="qrCode">
        <%= qr %>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

<script>
    // const axios = require('axios');

    const test = () =>{
        var val = document.getElementById("loginStatus").innerHTML;
        document.getElementById("loginStatus").innerHTML += "3333"
        console.log(val)
    }

    const getToken = () =>{
        // var num= Math.floor(Math.random()*4+1);
        var num= 2
        var data = JSON.stringify({
            "username": `user${num}`
        });

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function() {
            if(this.readyState === 4) {
                var res = JSON.parse(this.responseText);
                var token = res.data.token;
                $("#tokenStr").text(token)
            }
        });

        xhr.open("POST", "/auth/token");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.send(data);
    }


    let websocket = null

    const initWs = () => {

        if (typeof WebSocket == 'undefined') {
            alert('您的浏览器不支持该软件')
        }
        // let wsUrl = `ws://ec2-54-179-162-133.ap-southeast-1.compute.amazonaws.com:9001/ws/qrCode`
        let token = $("#tokenStr").text()
        // let token = 1
        let wsUrl = '<%= wsUrl %>'+"?token="+`${token}`
        websocket = new WebSocket(wsUrl)
        websocket.onopen = onOpen
        websocket.onmessage = onMsg
        websocket.onclose = onClose
        websocket.onerror = onError
        if (websocket.readyState === 1) {
            console.log('重连成功:{}', websocket)
        }
    }
    const onOpen = (e) => {
        console.log('开启:{}', e)
    }
    const onMsg = (e) => {
        console.log('接受到消息:{}', e.data)
        let res = JSON.parse(e.data)
        // console.log('接受到消息:{}', res)
        switch (res.type) {
            case 1001:
                var val = document.getElementById("loginStatus").innerHTML;
                document.getElementById("loginStatus").innerHTML = val + `登陆成功${res.clientId}`
                $("#qrid").empty()
                $("#qrid").qrcode({
                    render : "canvas", //设置渲染方式，有table和canvas
                    text : `${res.clientId}`, //扫描二维码后自动跳向该链接
                    width : "300", //二维码的宽度
                    height : "300", //二维码的高度
                    background : "#ffffff", //二维码的后景色
                    foreground : "#000000", //二维码的前景色
                    src: 'https://www.baidu.com/img/flexible/logo/pc/result.png', //二维码中间的图片
                });
                break
            case 1002:
                $("#qrid").empty()
                alert(`用户${res.clientId} ${res.msg}`)
                break
        }
    }
    const onSend = (e) => {
        console.log('heart', e)
        websocket.send('1')
    }
    const onClose = (e) => {
        console.log('关闭:{}', e)
    }
    const onError = (e) => {
        console.log('异常:{}', e)
    }
    const login = ()=>{
        var data = JSON.stringify({
        });

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function() {
            if(this.readyState === 4) {
                console.log(this.responseText);
            }
        });
        let token = $("#tokenStr").text()

        xhr.open("POST", "/wa/create");
        xhr.setRequestHeader("token", token);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.send(data);

    }
    const baidu = ()=>{
        var data = JSON.stringify({
            "clientId": new Date().getTime()
        });

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function() {
            if(this.readyState === 4) {
                console.log(this.responseText);
            }
        });

        xhr.open("POST", "/baidu/create");
        xhr.setRequestHeader("token", "232323");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.send(data);

    }


</script>
